@import "tailwindcss";

@theme {
  --color-minsk-50: #f9f7fd;
  --color-minsk-100: #f1ecfb;
  --color-minsk-200: #e6dcf8;
  --color-minsk-300: #d2c0f2;
  --color-minsk-400: #b698e8;
  --color-minsk-500: #9a70dc;
  --color-minsk-600: #8352cb;
  --color-minsk-700: #6e3fb1;
  --color-minsk-800: #5e3891;
  --color-minsk-900: #54327f;
  --color-minsk-950: #321754;
}
